<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>

</head>
<body>
<div>
    <form th:action="@{/addStudent}" method="post">

        <div>
            <br>
            <label>ID</label>
            <input type="text" name="id" placeholder="请输入该员工的id">
        </div>

        <div>
            <label >账号</label>
            <input type="text" name="account"  placeholder="">
        </div>

        <div>
            <label >密码</label>
            <input type="text" name="password"  placeholder="">

        </div>

        <button type="submit">点击添加</button>
        <a class="myButton" th:href="@{/findStudentList}">查询学生</a>
        <a class="myButton" th:href="@{/toindex}">返回首页</a>
    </form>


</div>

</body>
</html>