<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="student" type="com.example.saction.pojo.Student"*/-->
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
</head>
<body>
<div >
    <form th:action="@{/updateStudent}" method="post">
        <div >
            <label>ID</label>
            <input type="text" name="id" th:value="${student.getId()}" placeholder="请输入该学生的id">
        </div>
        <div class="form-group">
            <label>账号</label>
            <input type="text" name="account" th:value="${student.getAccount()}" placeholder="请输入修改后的账号">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="text" name="password" th:value="${student.getPassword()}" placeholder="请输入修改后的密码">
        </div>

        <button type="submit">保存</button>
        <a role="button" th:href="@{/findStudentList}">查询学生</a>
        <a  role="button" th:href="@{/toindex}">返回首页</a>
    </form>
</div>
</body>
</html>