html, body {
    margin: 0;
    padding: 0;
    /*background-image: url('../image/grassland.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: multiply;
}

table {
    margin-top: 60px;
    border: 2px solid rgb(51, 51, 51);
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: large;
    height: 100%;
}

input[type="text"] {
    font-size: large;
    background: transparent;
}

.column-center {
    text-align: center;
    vertical-align: middle;
}

tr {
    padding: 6px;
    border: 1px solid #000000; /* 设置边框颜色 */
    border-radius: 10px;
}

td {
    padding: 6px;
    border: 1px solid #000000; /* 设置边框颜色 */
    border-radius: 10px;
    text-align: center;
    align-content: center;
    white-space: nowrap; /* 确保内容不换行 */
    overflow: hidden; /* 隐藏超出单元格的内容 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
}

a {
    display: inline-block;
    width: 99%; /* 设置宽度 */
    height: 20px; /* 设置高度 */
    border: none; /* 无边框 */
    text-align: center; /* 文本居中 */
    line-height: 20px; /* 行高与高度相同，使文本垂直居中 */
    text-decoration: none; /* 去除下划线 */
}
