html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none; /* 去除项目符号 */
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tableDisplay {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

tr {
    padding: 4px;
    border-radius: 10px;
}

td {
    padding: 4px;
    border-radius: 10px;
}

.column-center {
    text-align: center;
    vertical-align: middle;
}

body {
    /*margin-bottom: 50px; !* 为底部预留空间 *!*/
}

footer {
    position: fixed;
    bottom: 0;
    /*height: 50px; !* 假设页脚高度为100px *!*/
}

a[role="button"] {
    color: black;
    background-color: rgb(59, 120, 190, 0.2);
}

a[role="button"]:hover {
    background-color: rgb(59, 120, 190, 0.5);
}

section {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    text-align: center;
    white-space: nowrap; /* 确保内容不换行 */
    overflow: hidden; /* 隐藏超出单元格的内容 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
}

a {
    display: inline-block;
    width: 99%; /* 设置宽度 */
    height: 20px; /* 设置高度 */
    border: none; /* 无边框 */
    text-align: center; /* 文本居中 */
    line-height: 20px; /* 行高与高度相同，使文本垂直居中 */
    text-decoration: none; /* 去除下划线 */
}

.div-top {
    position: fixed;
    /*top: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 100%;
    height: 75px;
    z-index: 99;
}
.div-top-bg {
    position: fixed;
    /*top: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 100%;
    height: 75px;
    background-color: rgb(70, 130, 180, 1.0); /* 浅灰色背景 */
    z-index: 99;
}

.div-left {
    position: fixed;
    top: 75px;
    left: 5%;
    width: 10%;
    height: 100%;
    background-color: rgba(112, 128, 144, 0.9); /* 灰色背景 */
    z-index: 19;
}

.div-headImage {
    position: fixed;
    width: 10%;
    height: 160px;
    background-color: rgba(161, 161, 161, 0.2); /* 灰色背景 */
    z-index: 29;
    margin: auto;
    overflow: hidden; /* 隐藏超出的部分 */
}

.div-leftMenu {
    position: fixed;
    top: 235px;
    width: 10%;
    /*height: 20%;*/
    background-color: rgba(31, 175, 175, 0.1); /* 灰色背景 */
    z-index: 29;
}

/*右侧*/
.div-right {
    position: fixed;
    top: 75px;
    bottom: 25px;
    left: 15%;
    width: 80%;
    /*height: calc(100vh - 75px);*/
    background-color: rgba(211, 211, 211, 0.9); /* 浅灰色背景 */
    z-index: 19;
    overflow: auto;
}

.div-bottom {
    position: fixed;
    top: calc(100vh - 25px);
    left: 15%;
    width: 79%;
    height: 25px;
    background-color: rgba(200, 200, 200, 1); /* 浅灰色背景 */
    z-index: 25;
    padding-left: 1%
}

/*logo图片样式*/
.img-logo {
    width: 64px;
    height: 64px;
    align-self: auto;
    border-radius: 50%;
}

/*头像图片样式*/
.img-head {
    width: 108px;
    height: 108px;
    align-self: auto;
    border-radius: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* 超出部分将被裁剪 */
}

.btn-collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    white-space: nowrap; /* 确保内容不换行 */
    transition: 0.3s;
}
.btn-collapsible:hover {
    padding: 27px;
    background-color: #ccc;
    font-size: 25px;
    transition: 0.3s;
}

.btn-select {
    background-color: #aaa;
    /*box-shadow: inset 0px 0px 0px 2px #ffccaa;*/
}
.btn-select:hover {
    background-color: #999;
}

/* 隐藏内容 */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#box, #box2, #box3, #box4 {
    padding:10px;
    border:1px solid green;
}
