
.div{
	text-align: center; /*让div内部文字居中*/
	/*background-color: #fff;*/ /*测试用*/
	/*border-radius: 20px;*/
	width: 1080px;
	height: 720px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin: auto;
	/*padding-top: 5%;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.head-div {
	margin: auto;
	padding-top: 20px;
	width: 640px;
	height: 100px;
	text-align: center;
	/*border: 1px solid #444;*/
	/*border-radius: 50%;*/
	/* margin: 0 auto 10px auto;*/
	background-size: 100px 100px;
}

.div-information {
	margin: auto;
	width: 720px;
	height: 560px;
	text-align: center;
	outline: none;
	border: 1px solid rgb(94, 92, 233);
	border-radius: 10px;
	background-color: rgba(172, 235, 243, .2);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-div h1 {
	margin: auto;
	color: rgb(29, 26, 26);
}

input:not([type="radio"]):not([type="checkbox"]):not([type="button"]) {
	width: 260px;
	height: 30px;
	border: none;
	/* 元素周围的轮廓无效 */
	outline: none;
	/* 为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
	box-sizing: border-box;
	/* display: block; */
	padding: 0 16px;
}

table {
	/*margin: auto;*/
	vertical-align: middle;
}

td {
	height: 38px;
}

select {
	width: 260px;
	height: 42px;
	border: none;
	/* 元素周围的轮廓无效 */
	outline: none;
	/* 为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
	box-sizing: border-box;
	/* display: block; */
	padding: 0 16px;
}

.input-text {
	border: 0.5px solid rgb(73, 73, 133);
	margin: 5px auto;
	transition: 0.5s;
	border-radius: 16px;
	background-color: rgb(223, 223, 223);
}

/*.input-readonly {*/
/*	background-color: #cccccc;*/
/*}*/

.input-edit {
	background-color: rgb(255, 255, 255);
}

.input-text:hover {
	border: 0.5px solid rgb(76, 76, 233);
	transition: 0.5s;
	border-radius: 4px;
}

.input-radio {
	height: 20px;
	width: 20px;
}

.input-btn {
	/*border: 0.5px solid rgb(73, 73, 133);*/
	/*margin: 5px auto;*/
	/*transition: 0.5s;*/
	/*border-radius: 16px;*/
	margin: 5px auto;
	height: 35px;
	width: 150px;
	border-radius: 16px;
	transition: 0.5s;
	background-color: rgba(84, 175, 249, 0.8);
}

.input-btn:hover {
	color: #fff;
	transition: 0.5s;
	background-color: rgba(10, 138, 243, 0.8);
}

.input-btn-text {
	height: 25px;
	width: 150px;
	/*text-size-adjust: auto;*/
	/*margin: 30px auto 20px;*/
	/*width: 150px;*/
	background: transparent; /*按钮背景透明*/
	border-width: 0;	/*边框透明*/
	outline: none;	/*点击后没边框*/
	transition: 0.5s;
	font-size: small;
	text-decoration-color: gray;
}

.input-btn-text:hover {
	height: 25px;
	width: 100px;
	/*text-size-adjust: auto;*/
	/*margin: 30px auto 20px;*/
	/*width: 150px;*/
	background-color: rgba(30, 180, 255, 0.6);
	border-width: 0;	/*边框透明*/
	outline:none;	/*点击后没边框*/
	transition: 0.5s;
	font-size: smaller;
	text-decoration-color: black;
}

.sign-div a {
	text-decoration: none;
	color: rgb(92, 61, 112);
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
}

a:hover {
	color: #FFF;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.input-warning {
	height: 25px;
	width: 100px;
	text-decoration-color: red;
	readonly: true;
	/*background: transparent; !*按钮背景透明*!*/
	border-width: 0;	/*边框透明*/
	outline:none;	/*点击后没边框*/
	font-size: small;
}

.sign-table {
	/*width: 300px;*/
}