
.div{
	text-align: center; /*让div内部文字居中*/
	/*background-color: #fff;*/ /*测试用*/
	/*border-radius: 20px;*/
	width: 640px;
	height: 640px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*margin-top: 10%;*/
	margin: auto;
	/*padding-top: 5%;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.head-div {
	margin: auto;
	width: 500px;
	height: 100px;
	text-align: center;
	/*border: 1px solid #444;*/
	/*border-radius: 50%;*/
	/* margin: 0 auto 10px auto;*/
	background-size: 100px 100px;
}

/*.sign-div {*/
/*	margin: auto;*/
/*	width: 500px;*/
/*	height: 300px;*/
/*	text-align: center;*/
/*	outline: none;*/
/*	border: 1px solid rgb(94, 92, 233);*/
/*	border-radius: 10px;*/
/*	!*border-radius: 8px;*!*/
/*	background-color: rgba(172, 235, 243, .2);*/
/*	box-sizing: border-box;*/
/*}*/

.sign-div {
	margin: auto;
	width: 500px;
	height: 362px;
	text-align: center;
	outline: none;
	border: 1px solid rgb(94, 92, 233);
	border-radius: 10px;
	/*border-radius: 8px;*/
	background-color: rgba(172, 235, 243, .2);
	box-sizing: border-box;
}

.sign-div h1 {
	margin: auto;
	color: rgb(29, 26, 26);
}

input:not([type="radio"]):not([type="checkbox"]) {
	width: 260px;
	height: 42px;
	border: none;
	/* 元素周围的轮廓无效 */
	outline: none;
	/* 为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
	box-sizing: border-box;
	/* display: block; */
	padding: 0 16px;
}

select {
	width: 260px;
	height: 42px;
	border: none;
	/* 元素周围的轮廓无效 */
	outline: none;
	/* 为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
	box-sizing: border-box;
	/* display: block; */
	padding: 0 16px;
}

.input-text {
	border: 0.5px solid rgb(73, 73, 133);
	margin: 5px auto;
	transition: 0.5s;
	border-radius: 16px;
}

.input-text:hover {
	border: 0.5px solid rgb(76, 76, 233);
	transition: 0.5s;
	border-radius: 4px;
}

.input-btn {
	margin: 20px auto 10px;
	width: 160px;
	font-size: medium;
	border-radius: 28px;
	cursor: pointer;
	transition: 0.5s;
	background-color: rgba(84, 175, 249, 0.8);
}

.input-btn:hover {
	color: #fff;
	width: 180px;
	font-size: x-large;
	border-radius: 12px;
	transition: 0.5s;
	background-color: rgba(10, 138, 243, 0.8);
}

.input-btn-text {
	height: 25px;
	width: 100px;
	/*text-size-adjust: auto;*/
	/*margin: 30px auto 20px;*/
	/*width: 150px;*/
	background: transparent; /*按钮背景透明*/
	border-width: 0;	/*边框透明*/
	outline:none;	/*点击后没边框*/
	transition: 0.5s;
	font-size: small;
	text-decoration-color: gray;
}

.input-btn-text:hover {
	height: 25px;
	width: 100px;
	/*text-size-adjust: auto;*/
	/*margin: 30px auto 20px;*/
	/*width: 150px;*/
	background-color: rgba(30, 180, 255, 0.6);
	border-width: 0;	/*边框透明*/
	outline:none;	/*点击后没边框*/
	transition: 0.5s;
	font-size: smaller;
	text-decoration-color: black;
	border-radius: 8px;
}

.sign-div a {
	text-decoration: none;
	color: rgb(92, 61, 112);
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
}

a:hover {
	color: #FFF;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.input-warning {
	height: 25px;
	width: 100px;
	text-decoration-color: red;
	readonly: true;
	/*background: transparent; !*按钮背景透明*!*/
	border-width: 0;	/*边框透明*/
	outline:none;	/*点击后没边框*/
	font-size: small;
}

.sign-table {
	/*width: 300px;*/
}