<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.act">
<head>
    <meta charset="UTF-8">
    <title>查询活动</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../../css/find.css">
    <!--JS-->
    <script type="text/javascript" src="../../js/global.js"></script>
</head>
<body>

    <h1 style="text-align: center">活动信息</h1>


    <table border="1" align="center" style="width: 50%;">
        <tr>
            <td width="10%">ID</td>
            <td>
                <input type="text" th:value="${act.getId()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>活动名称</td>
            <td>
                <input type="text" th:value="${act.getName()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>活动类型</td>
            <td>
                <input type="text" th:value="${act.getType()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>活动地点</td>
            <td>
                <input type="text" th:value="${act.getActvenue()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>报名开始时间</td>
            <td>
                <input type="text" th:value="${#dates.format(act.getSignuptimeStart(), 'yyyy-MM-dd HH:mm:ss')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>报名结束时间</td>
            <td>
                <input type="text" th:value="${#dates.format(act.getSignuptimeEnd(), 'yyyy-MM-dd HH:mm:ss')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>活动开始时间</td>
            <td>
                <input type="text" th:value="${#dates.format(act.getActtimeStart(), 'yyyy-MM-dd HH:mm:ss')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>活动结束时间</td>
            <td>
                <input type="text" th:value="${#dates.format(act.getActtimeEnd(), 'yyyy-MM-dd HH:mm:ss')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>当前报名人数</td>
            <td>
                <input type="text" th:value="${act.getMemberCurrent()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>最大报名人数</td>
            <td>
                <input type="text" th:value="${act.getMemberMax()}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>需要签到</td>
            <td>
                <input type="text" th:value="${act.getIsSigninNeed() == '0' ? '否' :
                  (org.getIsJoinAllowed() == '1' ? '是' : '')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>需要签退</td>
            <td>
                <input type="text" th:value="${act.getIsSignoutNeed() == '0' ? '否' :
                  (org.getIsJoinAllowed() == '1' ? '是' : '')}" readonly style="width: 99%;">
            </td>
        </tr>
        <tr>
            <td>描述</td>
            <td>
                <input type="text" th:value="${act.getDescription()}" readonly style="width: 99%;">
            </td>
        </tr>
    </table>

</body>
</html>