<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="student" type="com.example.saction.pojo.Student"*/-->
<!--/*@thymesVar id="studentList" type="com.example.saction.controller"*/-->
<head>
    <meta charset="UTF-8">
    <title>查询用户信息</title>
</head>
<body>

    <table border="1" align="center">

        <tr><!--列-->
            <th>ID</th>
            <th>账号</th>
            <th>密码</th>
        </tr>

        <tr th:each="user:${userList}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getAccount()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>

    </table>

</body>
</html>