<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>大学生活动管理系统</title>
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>

    <body>
        <div class="div">
            <div class="head-div" style="margin-top: 40%">
                <h1>您似乎迷路了</h1>
                <h4><a th:href="@{/main}">点此前往主页面</a></h4>
            </div>
        </div>
    </body>
</html>