<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学生活动管理系统</title>
    <link rel="icon" href="icon/Upan.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <!--JS-->
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
    <div>

        <!--顶部栏-->
        <div class="div-top-bg"></div>
        <div class="div-top">
            <table align="left" style="padding-left: 10%; height: 75px; weight: 200px">
                <tr>
                    <td style="width: 75px">
                        <img src="image/logo.png" class="img-logo">
                    </td>
                    <td style="width: 100px" align="left">
                        <h2>大学生活动管理系统</h2>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div-top">
            <table align="right" style="padding-right: 10%; height: 75px">
                <tr>
                    <td style="width: 75px">
                        <a th:href="@{/login}">用户(<span th:text="${#session.getAttribute('nameNick')}"></span>)</a>
                    </td>
                    <td style="width: 75px" th:if="${#session.getAttribute('accountShow') != '未登录' }">
                        <a onclick="loginoutCheck()">登出</a>
                    </td>
                </tr>
            </table>
        </div>

        <!--左侧栏-->
        <div class="div-left">

            <div class="div-headImage">
                <img src="image/logo.png" class="img-head">
            </div>

            <div class="div-leftMenu" style="margin-top: unset">
                <ul>
                    <li><button class="btn-collapsible btn-select" id="btn-0" onclick="pageGoto(0)">活动列表</button></li>
                    <li th:if="${#session.getAttribute('showBtn-1')}"><button class="btn-collapsible" id="btn-1" onclick="pageGoto(1)">活动管理</button></li>
                    <li th:if="${#session.getAttribute('showBtn-2')}"><button class="btn-collapsible" id="btn-2" onclick="pageGoto(2)">我的活动</button></li>
                    <li><button class="btn-collapsible" id="btn-3" onclick="pageGoto(3)">组织列表</button></li>
                    <li th:if="${#session.getAttribute('showBtn-4')}"><button class="btn-collapsible" id="btn-4" onclick="pageGoto(4)">组织管理</button></li>
                    <li th:if="${#session.getAttribute('showBtn-5')}"><button class="btn-collapsible" id="btn-5" onclick="pageGoto(5)">我的组织</button></li>
                    <li th:if="${#session.getAttribute('showBtn-6')}"><button class="btn-collapsible" id="btn-6" onclick="pageGoto(6)">用户管理</button></li>
                </ul>
            </div>

        </div>

        <!--右侧栏-->
        <div class="div-right">

            <main>
                <!-- 活动列表 -->
                <section id="activities" class="show">

                    <h1>活动列表</h1>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th colspan="3">查找活动</th>
                        </tr>
                        <tr>
                            <td width="80px" align="center">活动ID:</td>
                            <td>
                                <input type="text" id="actId" style="width: 100%; height:21px;" placeholder="请输入需要查找的活动ID" title="内容为空时进行查找则展示所有活动">
                            </td>
                            <td class="column-center">
                                <a role="button" onclick="actOps('r', 0)">查找</a>
                            </td>
                        </tr>
                    </table>

                    <br><br><br>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th class="column-center">ID</th>
                            <th>活动名</th>
                            <th>活动类型</th>
                            <th>活动地点</th>
                            <th class="column-center">操作</th>
                        </tr>
                        <tr th:each="act:${actList}">
                            <td th:text="${act.getId()}" class="column-center"></td>
                            <td th:text="${act.getName()}"></td>
                            <td th:text="${act.getType()}"></td>
                            <td th:text="${act.getActvenue()}"></td>
                            <td class="column-center">
                                <a role="button" th:href="@{/act/findAct/{id}(id=${act.getId()})}" target="_blank">查看</a>
                            </td>
                        </tr>
                    </table>

                </section>

                <!-- 活动管理 -->
                <section id="activitiesManage" class="hidden">

                    <h1>活动管理</h1>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th class="column-center">ID</th>
                            <th>活动名</th>
                            <th>活动类型</th>
                            <th>活动地点</th>
                        </tr>
                        <tr th:each="act:${actList}">
                            <td th:text="${act.getId()}"  class="column-center"></td>
                            <td th:text="${act.getName()}"></td>
                            <td th:text="${act.getType()}"></td>
                            <td th:text="${act.getActvenue()}"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="column-center">
                                <a role="button" th:href="@{/act/findActList}" target="_blank">查看详细</a>
                            </td>
                        </tr>
                    </table>

                </section>

                <!-- 我的活动 -->
                <section id="myActivities" class="hidden">

                    <h1>我的活动</h1>

                    <div th:if="${not #lists.isEmpty(myjaList)}">

                        <table border="1" align="left" class="tableDisplay">
                            <tr>
                                <th class="column-center">参与的活动ID</th>
                                <th class="column-center">参与的活动名称</th>
                                <th class="column-center" colspan="2">操作</th>
                            </tr>
                            <tr th:each="myja:${myjaList}">
                                <td th:text="${myja.getId()}" class="column-center"></td>
                                <td th:text="${myja.getName()}" class="column-center"></td>
                                <td class="column-center">
                                    <a role="button" th:href="@{/act/findAct/{id}(id=${myja.getId()})}" target="_blank">查看</a>
                                </td>
                                <td class="column-center">退出组织</td>
                            </tr>
                        </table>

                    </div>

                    <div th:if="${#lists.isEmpty(myjaList)}">

                        <p>您当前未参与任何活动</p>

                    </div>

                </section>

                <!-- 组织列表 -->
                <section id="organizations" class="hidden">

                    <h1>组织列表</h1>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th class="column-center">ID</th>
                            <th>组织名</th>
                            <th>组织类型</th>
                            <th class="column-center">操作</th>
                        </tr>
                        <tr th:each="org:${orgList}">
                            <td th:text="${org.getId()}" class="column-center"></td>
                            <td th:text="${org.getName()}"></td>
                            <td th:text="${org.getType()}"></td>
                            <td class="column-center">
                                <a role="button" th:href="@{/org/findOrg/{id}(id=${org.getId()})}" target="_blank">查看</a>
                            </td>
                        </tr>
                    </table>

                </section>

                <!-- 组织管理 -->
                <section id="organizationsManage" class="hidden">

                    <h1>组织管理</h1>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th class="column-center">ID</th>
                            <th>组织名</th>
                            <th>组织类型</th>
                        </tr>
                        <tr th:each="org:${orgList}">
                            <td th:text="${org.getId()}" class="column-center"></td>
                            <td th:text="${org.getName()}"></td>
                            <td th:text="${org.getType()}"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="column-center">
                                <a role="button" th:href="@{/org/findOrgList}" target="_blank">查看详细</a>
                            </td>
                        </tr>
                    </table>

                </section>

                <!-- 我的组织 -->
                <section id="myOrganizations" class="hidden">

                    <h1>我的组织</h1>

                    <div th:if="${not #lists.isEmpty(myjoList)}">

                        <table border="1" align="left" class="tableDisplay">
                            <tr>
                                <th class="column-center">参与的组织ID</th>
                                <th class="column-center">参与的组织名称</th>
                                <th class="column-center" colspan="2">操作</th>
                            </tr>
                            <tr th:each="myjo:${myjoList}">
                                <td th:text="${myjo.getId()}" class="column-center"></td>
                                <td th:text="${myjo.getName()}" class="column-center"></td>
                                <td class="column-center">
                                    <a role="button" th:href="@{/org/findOrg/{id}(id=${myjo.getId()})}" target="_blank">查看</a>
                                </td>
                                <td class="column-center">退出组织</td>
                            </tr>
                        </table>

                    </div>

                    <div th:if="${#lists.isEmpty(myjoList)}">

                        <p>您当前未加入任何组织</p>

                    </div>

                </section>

                <!-- 用户管理 -->
                <section id="userManage" class="hidden">

                    <h1>用户管理</h1>

                    <table border="1" align="left" class="tableDisplay">
                        <tr>
                            <th class="column-center">ID</th>
                            <th>账号</th>
                            <th>密码</th>
                            <th>昵称</th>
                            <th class="column-center">权限</th>
                        </tr>
                        <tr th:each="user:${userList}">
                            <td th:text="${user.getId()}" class="column-center"></td>
                            <td th:text="${user.getAccount()}"></td>
                            <td th:text="${user.getPassword()}"></td>
                            <td th:text="${user.getNameNick()}"></td>
                            <td th:text="${user.getPriority()}" class="column-center"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="column-center">
                                <a role="button" th:href="@{/user/findUserList}" target="_blank">查看详细</a>
                            </td>
                        </tr>
                    </table>

                </section>

            </main>

            <footer>
                <p>&copy; 2024 大学生活动管理系统</p>
            </footer>

        </div>

    </div>

</body>

</html>