<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学生活动管理系统</title>
    <link rel="icon" href="icon/Upan.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <!--JS-->
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
    <div>

        <div class="div-top">
            <table align="center" style="height: 75px">
                <tr>
                    <td style="width: 10%; margin: auto;">
                        <img src="image/logo.png" class="img-logo">
                    </td>
                    <td style="width: 30%">
                        <h2>大学生活动管理系统</h2>
                    </td>
                    <td style="width: 40%">

                    </td>
                    <td style="width: 10%">
                        <a th:href="@{/login}">用户(<span th:text="${#session.getAttribute('accountShow')}"></span>)</a>
                    </td>
                    <td style="width: 10%" th:if="${#session.getAttribute('accountShow') != '未登录' }">
                        <a onclick="loginoutCheck()">登出</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="div-left">

            <div class="div-headImage">
                <img src="image/logo.png" class="img-head">
            </div>

            <div class="div-leftMenu" style="margin-top: unset">
                <ul>
                    <li><button class="btn-collapsible btn-select" id="btn-0" onclick="pageGoto('0')">活动列表</button></li>
                    <li th:if="${#session.getAttribute('showBtn-1')}"><button class="btn-collapsible" id="btn-1" onclick="pageGoto('1')">活动管理</button></li>
                    <li th:if="${#session.getAttribute('showBtn-2')}"><button class="btn-collapsible" id="btn-2" onclick="pageGoto('2')">我的活动</button></li>
                    <li><button class="btn-collapsible" id="btn-3" onclick="pageGoto('3')">学生组织</button></li>
                    <li th:if="${#session.getAttribute('showBtn-4')}"><button class="btn-collapsible" id="btn-4" onclick="pageGoto('4')">组织管理</button></li>
                    <li th:if="${#session.getAttribute('showBtn-5')}"><button class="btn-collapsible" id="btn-5" onclick="pageGoto('5')">我的组织</button></li>
                </ul>
            </div>

        </div>

        <div class="div-right">

            <main>
                <!-- 活动列表 -->
                <section id="activities" class="show">
                    <h1>活动列表</h1>
                </section>

                <!-- 活动管理 -->
                <section id="activitiesManage" class="hidden">
                    <h1>活动管理</h1>
                </section>

                <!-- 我的活动 -->
                <section id="MyActivities" class="hidden">
                    <h1>我的活动</h1>
                </section>

                <!-- 学生组织 -->
                <section id="organizations" class="hidden">
                    <h1>学生组织</h1>
                </section>

                <!-- 组织管理 -->
                <section id="organizationsManage" class="hidden">
                    <h1>组织管理</h1>
                </section>

                <!-- 我的组织 -->
                <section id="MyOrganizations" class="hidden">
                    <h1>我的组织</h1>
                </section>

            </main>

            <footer>
                <p>&copy; 2024 大学生活动管理系统</p>
            </footer>

        </div>

    </div>

</body>

</html>