<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>个人信息</title>
        <link rel="icon" href="icon/Upan.ico" type="image/x-icon">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/user.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
        <!--JS-->
        <script type="text/javascript" src="js/global.js"></script>
        <script type="text/javascript" src="js/user.js"></script>
        <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    </head>

    <body>

        <!--顶部栏-->
        <div class="div-top-bg"></div>
        <div class="div-top">
            <table align="left" style="padding-left: 10%; height: 75px; weight: 200px">
                <tr>
                    <!--                    <td style="width: 75px">-->
                    <!--                        <img src="image/logo.png" class="img-logo">-->
                    <!--                    </td>-->
                    <td style="width: 100px" align="left">
                        <h2>智能人员与活动管理系统</h2>
                    </td>
                </tr>
            </table>
        </div>

        <!--用户信息界面-->
        <div class="div">

            <h1>用户个人信息</h1>

            <div class="div-information">

                <table align="center" valign="middle">

                    <tr>
                        <td style="width: 80px">UUID</td>
                        <td>
                            <input id="id" class="input-text" type="text" style="width: 100%" readonly>
                        </td>
                        <td style="width: 80px">账号</td>
                        <td>
                            <input id="account" class="input-text" type="text" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 80px">昵称</td>
                        <td>
                            <input id="nameNick" class="input-text" type="text" readonly>
                        </td>
                        <td>姓名</td>
                        <td>
                            <input id="nameReal" class="input-text" type="text" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td>性别</td>
                        <td valign="center" style="text-align: left;">
                            <input id="gender_male" class="input-radio" type="radio" name="gender" value="male" disabled="true">男&nbsp;&nbsp;&nbsp;
                            <input id="gender_female" class="input-radio" type="radio" name="gender" value="female" disabled="true">女
                        </td>
                        <td>家庭地址</td>
                        <td>
                            <input id="address" class="input-text" type="text" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td>联系电话</td>
                        <td>
                            <input id="phone" class="input-text" type="tel" style="width: 100%" readonly>
                        </td>
                        <td>电子邮箱</td>
                        <td>
                            <input id="email" class="input-text" type="email" style="width: 100%" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td>个性签名</td>
                        <td colspan="3">
                            <textarea rows="5" id="description" class="input-text" style="width: 99%" readonly></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: right;">
                            <input class="input-btn" type="button" value="编辑" id="edit" onclick="pageGoto('edit')" style="margin-right:16px;">
                            <input class="input-btn hidden" type="button" value="取消" id="cancel" onclick="pageGoto('cancel')" style="margin-right:16px;">
                        </td>
                        <td colspan="2" style="text-align: left;">
                            <input class="input-btn" type="button" value="回到主页面" id="back" onclick="pageGoto('back')" style="margin-left:16px;">
                            <input class="input-btn hidden" type="button" value="保存" id="save" onclick="pageGoto('save')" style="margin-left:16px;">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input class="input-btn" type="button" value="登出" id="logout" onclick="loginoutCheck()">
                        </td>
                    </tr>

                </table>

            </div>

        </div>

    </body>

</html>
