<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>个人信息</title>
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/user.css">
    </head>

    <body>

        <a th:href="@{/user/findUserList}">[调试]用户信息</a><br>
        <a th:href="@{/main}">回到主页面</a>

        <!--用户信息界面-->
        <div class="div">

            <h1>个人信息表</h1>

            <table cellpadding="5" cellspacing="0" >

                <tr>
                    <td>姓名</td>
                    <td><input class="input-text" type="text" style="width:90%"></td>
                    <td>性别</td>
                    <td>
                        <input type="radio" name="gender">男&nbsp;
                        <input type="radio" name="gender">女
                    </td>
                </tr>

                <tr>
                    <td>手机号码</td>
                    <td><input class="input-text" type="tel" style="width:90%"></td>
                    <td>电子邮箱</td>
                    <td><input class="input-text" type="email" style="width:90%"></td>
                </tr>

                <tr>
                    <td>教育程度</td>
                    <td><input class="input-text" style="width: 90%; " type="text"></td>
                    <td>工作职位</td>
                    <td><input class="input-text" style="width: 90%; " type="text"></td>
                </tr>

                <tr>
                    <td>工作城市</td>
                    <td><input class="input-text" style="width: 90%; " type="text"></td>
                    <td>期望工资</td>
                    <td><input class="input-text" style="width: 90%; " type="text"></td>
                </tr>

                <tr>
                    <td>自我介绍</td>
                    <td colspan="3"><input class="input-text" type="text" style="width: 98%; " ></td>

                </tr>

                <tr>
                    <td>特长</td>
                    <td colspan="3"><input class="input-text" type="text" style="width: 98%; " ></td>

                </tr>

                <tr>
                    <td>家庭住址</td>
                    <td colspan="3"><input class="input-text" type="text" style="width: 98%; " ></td>
                </tr>

                <tr>
                    <td colspan="4" align="right">
                        <input class="input-btn" type="submit" value="编辑">
                        <input class="input-btn" type="submit" value="保存">
                    </td>
                </tr>

            </table>

        </div>

    </body>

</html>