<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.saction.mapper.ActMapper">

    <select id="findAllAct" resultType="com.example.saction.pojo.Activity">
        select * from activity
    </select>

</mapper>