<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.saction.mapper.OrgMapper">

    <select id="findAllOrg" resultType="com.example.saction.pojo.Organization">
        select * from organization
    </select>

    <select id="findOrgById" resultType="com.example.saction.pojo.Organization">
        select * from organization where id = #{id}
    </select>

    <delete id="deleteOrg">
        delete from organization where id = #{id}
    </delete>

</mapper>