<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.saction.mapper.ServiceMapper">

    <select id="findAllJO" resultType="com.example.saction.pojo.JoinOrg">
        select * from joinorg
    </select>

    <select id="findAllJA" resultType="com.example.saction.pojo.JoinAct">
        select * from joinact
    </select>

    <select id="findAllMyJO" resultType="com.example.saction.pojo.JoinOrg">
        select * from joinorg where userid = #{userid}
    </select>

    <select id="findAllMyJA" resultType="com.example.saction.pojo.JoinAct">
        select * from joinact where userid = #{userid}
    </select>

    <select id="findJOById" resultType="com.example.saction.pojo.JoinOrg">
        select * from joinorg where id = #{id}
    </select>

    <select id="findJAById" resultType="com.example.saction.pojo.JoinAct">
        select * from joinact where id = #{id}
    </select>

    <insert id="joinOrg">
        insert into joinorg (userid, orgid, time) values (#{userid}, #{orgid}, #{time})
    </insert>

    <insert id="joinAct">
        insert into joinact (userid, actid, time) values (#{userid}, #{actid}, #{time})
    </insert>

    <delete id="deleteJO">
        delete from joinorg where id = #{id}
    </delete>

    <delete id="deleteJA">
        delete from joinact where id = #{id}
    </delete>

</mapper>