<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.saction.mapper.StudentMapper">
    <insert id="addStudent">
        insert into student values (#{student.id},#{student.account},#{student.password})
    </insert>
    <update id="updateStudent">
        update student set account=#{student.account},password=#{student.password} where id=#{student.id}
    </update>
    <delete id="deleteStudent">
        delete from student where id=#{id}
    </delete>
    <select id="findAllStudent" resultType="com.example.saction.pojo.Student">
        select * from student
    </select>
    <select id="findStudentById" resultType="com.example.saction.pojo.Student">
        select * from student where id = #{id}
    </select>
</mapper>